*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(233, 47%, 7%);
}

#card {
    width: 90%;
    max-width: 70rem;
    height: fit-content;
    position: relative;
    display: flex;
    background: hsl(244, 38%, 16%);
    border-radius: 8px;
    overflow: hidden;
}

#hero {
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url('./images/image-header-desktop.jpg');
    background-color: hsl(277, 64%, 61%);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
}

#text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw;
}

#card-title {
    font-size: 2.3rem;
    color: white;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem 0 2rem 0;
}

.purple-txt {
    font-size: inherit;
    color: hsl(277, 64%, 61%);
}

#stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.stats-title,
.stats-value {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    padding: 0;
}

.stats-title {
    font-size: 1.3rem;
    color: white;
    letter-spacing: 0.05rem;
}

.stats-value {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.7rem;
}

@media (max-width: 600px) {
    body {
        text-align: center;
    }

    #card {
        flex-direction: column-reverse;
    }

    #text {
        width: 100%;
    }

    #hero {
        width: 100%;
        height: 25vh;
        position: relative;
        background-image: url('./images/image-header-mobile.jpg');
    }

    #stats {
        flex-direction: column;
    }

    #card-title {
        font-size: 2rem;
    }
}
